body{
  background-color: blue;
  color:white;
  font-family:"bai jamjuree", sans-serif;
  display: flex;
  justify-content: center;
  align-items:center;
  height:700px;
  margin: 0;
}
 button{
    background-color:cyan;
    color:white;
    font-family:"bai jamjure", sans-serif;
 }